#!/usr/bin/make -f

include /usr/share/cdbs/1/rules/debhelper.mk
include /usr/share/cdbs/1/class/cmake.mk


# Add here any variable or target overrides you need.
CFLAGS := ""
CXXFLAGS := ""
DEB_CMAKE_INSTALL_PREFIX := /usr
DEB_CMAKE_EXTRA_FLAGS := -DCMAKE_BUILD_TYPE=Release -DSYSCONFDIR=/etc
